.container-items {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

.container-items .product-img {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #eee;
    margin-bottom: 20px;
}

.container-items .product-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.container-items h4 {
    margin-bottom: 10px;
}

.container-items .added-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.container-items .added-product hr {
    width: 90%;
}

.container-items .added-product svg {
    background-color: #ddd;
    color: #555;
    border-radius: 50%;
    font-size: 40px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

@media only screen and (max-width : 1250px) {
    .container-items .product-img {
        width: 250px;
        height: 250px;
    }
}

@media only screen and (max-width : 1050px) {
    .container-items .product-img {
        width: 200px;
        height: 200px;
    }
}

@media only screen and (max-width : 850px) {
    .container-items .product-img {
        width: 250px;
        height: 250px;
    }
}

@media only screen and (max-width : 800px) {
    .container-items .product-img {
        width: 200px;
        height: 200px;
    }
}

@media only screen and (max-width : 650px) {
    .container-items .product-img {
        width: 270px;
        height: 250px;
    }
}

@media only screen and (max-width : 650px) {
    .container-items .product-img {
        width: 270px;
        height: 250px;
    }
}

@media only screen and (max-width : 600px) {
    .container-items .product-img {
        width: 230px;
        height: 230px;
    }
}

@media only screen and (max-width : 520px) {
    .container-items .product-img {
        width: 200px;
        height: 200px;
    }
}

@media only screen and (max-width : 470px) {
    .container-items .product-img {
        width: 350px;
        height: 300px;
    }
}

@media only screen and (max-width : 390px) {
    .container-items .product-img {
        width: 300px;
        height: 250px;
    }
}

@media only screen and (max-width : 340px) {
    .container-items .product-img {
        width: 250px;
        height: 220px;
    }
}