.login-form {
    background-color: black;
    padding: 25px;
    margin: 10px auto 160px;
    width: 600px;
    border-radius: 8px;
}

.login-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-form form input {
    padding: 10px;
    border-radius: 4px;
    outline: none;
    border: none;
}

.login-form form button {
    width: 15%;
    padding: 10px;
    border-radius: 4px;
    background-color: white;
    font-weight: bolder;
    font-size: 15px;
    margin: 40px auto 20px;
    cursor: pointer;
}

.login-form p {
    color: #d6e5fb;
    text-align: center;
}

.login-form p a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

@media only screen and (max-width : 650px) {
    .login-form {
        width: 500px;
    }
}

@media only screen and (max-width : 550px) {
    .login-form {
        width: 400px;
    }
    .login-form form button {
        width: 25%;
    }
}

@media only screen and (max-width : 420px) {
    .login-form {
        width: 350px;
    }
    .login-form form button {
        width: 25%;
    }
}

@media only screen and (max-width : 370px) {
    .login-form {
        width: 280px;
    }
    .login-form form button {
        width: 35%;
    }
}