.subtotal {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: auto;
}

.subtotal .subtotal-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.subtotal .subtotal-price h4 {
    font-weight: 500;
    color: #777;
}

.subtotal .subtotal-price h2  {
    font-weight: bold;
}

.subtotal p {
    text-align: center;
    color: #0a1d37;
}

.subtotal button {
    padding: 8px;
    cursor: pointer;
    background-color: black;
    color: #d6e5fb;
    font-weight: 600;
    font-size: 14px;
    border-radius: 4px;
    width: 100%;
}

@media only screen and (max-width : 1250px) {
    .subtotal {
        padding-right: 10px;
    }
}

@media only screen and (max-width : 700px) {
    .subtotal button {
        width: 80%;
        margin-left: calc(100% - 90%)
    }
}

@media only screen and (max-width : 400px) {

    .subtotal button {
        width: 100%;
        margin-left: 5px;
    }
}



