.products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 40px auto;
}

@media only screen and (max-width : 850px) {
    .products-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width : 650px) {
    .products-container {
        grid-template-columns: repeat(2, 1fr);
        margin: 20px auto;
    }
}

@media only screen and (max-width : 470px) {
    .products-container {
        display: flex;
        flex-direction: column;
        margin: 20px auto;
    }
}